*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
eggs/
include/
lib/
local/
pip-selfcheck.json
share/
